[submodule "backend"]
	path = backend
	url = https://github.com/mihaidevexplorer/e-commerce_shop_dealeo.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/mihaidevexplorer/e-commerce_shop_dealeo.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/mihaidevexplorer/e-commerce_shop_dealeo.git
